.u-section-1 {
  background-image: none;
  min-height: 460px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px 0 50px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 20px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center 0px;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  margin: 7px 10px 0;
}

.u-section-1 .u-text-2 {
  margin: 0 10px;
}

.u-section-1 .u-text-3 {
  font-weight: 600;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.8;
  margin: 10px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 21px auto 0;
  padding: 0 35px 0 33px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 409px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 651px;
  height: 358px;
  margin: 0 auto 0 -1px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 534px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 525px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 459px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 580px;
    height: 304px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 236px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 588px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-1 .u-image-1 {
    width: 444px;
    height: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 336px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 52px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 314px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 547px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 198px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 187px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 391px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 1px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 233px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 233px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 20.22%;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 233px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 30.23%;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-2 .u-image-1 {
    height: 184px;
  }

  .u-section-2 .u-image-2 {
    height: 184px;
  }

  .u-section-2 .u-image-3 {
    height: 184px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }

  .u-section-2 .u-image-1 {
    height: 218px;
  }

  .u-section-2 .u-image-2 {
    height: 218px;
  }

  .u-section-2 .u-image-3 {
    height: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 378px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 378px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 233px;
  }

  .u-section-2 .u-image-2 {
    height: 233px;
  }

  .u-section-2 .u-image-3 {
    height: 233px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 416px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 1px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-3 .u-image-1 {
  object-position: 50% 0%;
  width: 320px;
  height: 213px;
  margin: 2px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 18px 30px;
}

.u-section-3 .u-image-2 {
  object-position: 50% 0%;
  width: 320px;
  height: 213px;
  margin: 2px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 18px 30px;
}

.u-section-3 .u-image-3 {
  width: 320px;
  height: 213px;
  object-position: 50% 42.14%;
  margin: 2px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 476px;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 6px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 375px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 6px 30px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  width: 365px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 17px auto 0;
}

.u-section-4 .u-text-2 {
  width: 240px;
  margin: 0 auto;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 17px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 710px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 214px;
    width: 320px;
  }
}